<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="basePath">C:\\logs</Property>
    </Properties>
    
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{5} - %msg%n" />
		</Console>
		<File name="File" filename="logs/text.log" bufferedIO="true">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{5} - %msg%n" />
		</File>
	</Appenders>
	
	<Loggers>
		<Logger name="Log_File" level="info" additivity="false">
			<appenderRef ref="File" />
		</Logger>
		<Logger name="Log_Console" level="info" additivity="false">
			<appenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<appenderRef ref="Console" />
			<appenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>